body {
    background: url(http://thekitemap.com/images/feedback-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
  }

  form{
    text-align: center;

  }

h1{
    font-family: 'Rubik', sans-serif;
    background: #f5a442;
    color: #e2e1e0
}

p{
    font-size: 20px;
    font-family: 'Rubik', sans-serif;
    font-weight: 20px;
    color: #bff542;

}


    .box{
        background: #fff;
        border-radius: 2px;
        display: inline-block;
        height: 300px;
        margin: 1rem;
        position: relative;
        width: 800px;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 20px 20px 100px 20px;
        background-color:rgba(72,72,72,0.4);

    }

    .box-1{
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    }

    .box-1:hover {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
      }


      button {
        border: 1px solid cyan;
        color: tomato;
        background-color: cyan;
        padding: 10px;
        border-radius: 20px;
    }

    button:hover {
        background-color: tomato;
        color: cyan;

    }